body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

h1,h2,h3,p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

/* === Mobile styles === */

.top-line {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 120px;
}

.logo-part {
    color: #2E2F42;
} 

.head-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* Main content */

.main-section {
    background-color: #2E2F42;
    padding-bottom: 72px;
    padding-top: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
         url("../images/main-foto-mob.jpg");
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .main-section {
    background-image:
    linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url("../images/main-foto-mob@2x.jpg");
  }
}

.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 288px;
    margin: 0 auto 72px;
}

.main-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Advantages */

.advantages-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.advantages-list-icon-container {
    display: none;
}

.advantages-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.advantages-text {
    font-weight: 500;
}

/* Our Team */

.section-title {
    text-align: center;
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.02em;
    text-transform: capitalize;  
    margin-bottom: 72px; 
}

.team-section {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.team-card {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card-sign {
    padding: 32px 0;
}

.team-card-title {
    text-align: center;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-card-text {
    text-align: center;
    font-weight: 400;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    width: 40px;
    height: 40px;
    display: flex;
    background-color:#4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.social-link-icon {
    fill: #F4F4FD;
}

@media screen and (max-width: 767px) {
.navigation {
    display: none;
}

.mobile-menu-btn {
    border: none;
    padding: 0;
    line-height: 0;
    background-color: transparent;
    stroke: #2F2F37;
}
}



/* === Tablet styles === */
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .head-container {
        padding: 0 16px;
    }

    .mobile-menu-btn {
        display: none;
    }

    .page-navigation, 
    .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    .navigation {
        gap: 40px;
    }

    .nav-item {
        display: block;
        text-decoration: none;
        font-weight: 500;
        color: #2E2F42;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .current {
        position: relative;
        color: #404BBF;
    }

    .nav-item.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: #404BBF;
    }

    .contact {
        font-style: normal;
    }

    .contact-nav {
        flex-direction: column;
        gap: 12px;
    }

    .contact-item {
        text-decoration: none;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        color: #434455;
        display: block;       
    }

    /* Main content */
    .main-section {
        padding-bottom: 112px;
        padding-top: 112px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.70),
            rgba(46, 47, 66, 0.70)),
            url("../images/main-foto-tab.jpg");
        max-width: 768px;
    }
    
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /* Advantages & Our Team */
    .advantages-list,
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 24px;
    }

    .advantages-list-item,
    .team-card {
        width: calc((100% - 24px)/2)
    }

    .team-list {
        max-width: 552px;
        margin: 0 auto;
        row-gap: 64px;
    }

}

    @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (mmin-width: 768px) {
        .main-section {
         background-image:
         linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
         url("../images/main-foto-tab@2x.jpg");
        }
    }

/* === Desktop styles === */

@media screen and (min-width: 1158px) {
    .container {
      max-width: 1440px;
    }

    .head-container {
        padding: 0 156px;
    }

    .logo {
        margin-right: 76px;
    }

    .nav-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-item:focus,
    .nav-item:hover {
        color: #404BBF;
    } 

    .contact-nav {
        flex-direction: row;
        gap: 40px;
    }

    .contact-item {
        font-size: 16px;
        line-height: 1.5;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contact-item:hover,
    .contact-item:focus {
    color: #404BBF;
    }

    /* Main content */
    .main-section {
        padding-bottom: 188px;
        padding-top: 188px;
        max-width: 1440px;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
         url("../images/main-foto.jpg");
    }


    .main-title {
        margin-bottom: 48px;
    }
    .main-button {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .main-button:hover,
    .main-button:focus {
    background-color: #404BBF;
    }
    
    /* Advantages & Our Team*/
    .advantages-list,
    .team-list {
        flex-wrap: nowrap;
    }

    .advantages-list-item,
    .team-card {
        width: calc((100% - 3*24px)/4)
    }

    .team-list {
        max-width: 1128px;
    }

    .advantages-list-icon-container {
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        background-color: #F4F4FD;
        margin-bottom: 8px;
    }

    .advantages-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }

    .advantages-text {
        font-weight: 400;
    }
    
    .social-link {
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .social-link:hover,
    .social-link:focus {
    background-color: #404bbf;
    }

}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (mmin-width: 1158px) {
    .main-section {
        background-image:
        linear-gradient(
       rgba(46, 47, 66, 0.7),
       rgba(46, 47, 66, 0.7)),
        url("../images/main-foto@2x.jpg");
    }
}
